# This file is used to ignore files which are generated in the Qt build system
# ----------------------------------------------------------------------------

/include
/lib
/mkspecs
/doc

/src/quickcontrols2/qtquickcontrols2-config.h
/src/quickcontrols2/qtquickcontrols2-config.pri
/src/quickcontrols2/qtquickcontrols2-config_p.h
/src/quicktemplates2/qtquicktemplates2-config.h
/src/quicktemplates2/qtquicktemplates2-config.pri
/src/quicktemplates2/qtquicktemplates2-config_p.h

/examples/quickcontrols2/chattutorial/chapter1-settingup/chapter1-settingup
/examples/quickcontrols2/chattutorial/chapter2-lists/chapter2-lists
/examples/quickcontrols2/chattutorial/chapter3-navigation/chapter3-navigation
/examples/quickcontrols2/chattutorial/chapter4-models/chapter4-models
/examples/quickcontrols2/chattutorial/chapter5-styling/chapter5-styling
/examples/quickcontrols2/contactlist/contactlist
/examples/quickcontrols2/flatstyle/flatstyle
/examples/quickcontrols2/gallery/gallery
/examples/quickcontrols2/imagine/automotive/automotive
/examples/quickcontrols2/imagine/musicplayer/musicplayer
/examples/quickcontrols2/sidepanel/sidepanel
/examples/quickcontrols2/swipetoremove/swipetoremove
/examples/quickcontrols2/texteditor/texteditor
/examples/quickcontrols2/wearable/wearable

/tests/auto/accessibility/tst_accessibility
/tests/auto/calendar/tst_calendar
/tests/auto/controls/basic/tst_basic
/tests/auto/controls/fusion/tst_fusion
/tests/auto/controls/imagine/tst_imagine
/tests/auto/controls/material/tst_material
/tests/auto/controls/universal/tst_universal
/tests/auto/cursor/tst_cursor
/tests/auto/customization/tst_customization
/tests/auto/focus/tst_focus
/tests/auto/font/tst_font
/tests/auto/palette/tst_palette
/tests/auto/platform/tst_platform
/tests/auto/pressandhold/tst_pressandhold
/tests/auto/qquickapplicationwindow/tst_qquickapplicationwindow
/tests/auto/qquickcolor/tst_qquickcolor
/tests/auto/qquickdrawer/tst_qquickdrawer
/tests/auto/qquickiconimage/tst_qquickiconimage
/tests/auto/qquickiconlabel/tst_qquickiconlabel
/tests/auto/qquickimaginestyle/tst_qquickimaginestyle
/tests/auto/qquickmaterialstyle/tst_qquickmaterialstyle
/tests/auto/qquickmaterialstyleconf/tst_qquickmaterialstyleconf
/tests/auto/qquickmenu/tst_qquickmenu
/tests/auto/qquickmenubar/tst_qquickmenubar
/tests/auto/qquickninepatchimage/tst_qquickninepatchimage
/tests/auto/qquickpopup/tst_qquickpopup
/tests/auto/qquickstyle/tst_qquickstyle
/tests/auto/qquickstyleselector/tst_qquickstyleselector
/tests/auto/qquickuniversalstyle/tst_qquickuniversalstyle
/tests/auto/qquickuniversalstyleconf/tst_qquickuniversalstyleconf
/tests/auto/revisions/tst_revisions
/tests/auto/sanity/tst_sanity
/tests/auto/snippets/tst_snippets
/tests/auto/styles/tst_styles
/tests/benchmarks/creationtime/tst_creationtime
/tests/benchmarks/objectcount/tst_objectcount
/tests/manual/buttons/buttons
/tests/manual/fonts/fonts
/tests/manual/gifs/tst_gifs
/tests/manual/styles/styles
/tests/manual/testbench/testbench
/tests/manual/screenshots/screenshots

/tests/auto/snippets/screenshots/*.png
/tests/manual/gifs/gifs/*.gif

*.so
*.so.*
*.app
*.exe
*.dll
*.dylib
*.lib
*.exp
*.a
*.la
*.core
*.moc
*.o
*.obj
*.orig
*.swp
*.rej
*.so
*.pbxuser
*.mode1
*.mode1v3
*_pch.h.cpp
*_resource.rc
*~
.#*
*.*#
.qmake.stash
.qmake.cache
.qmake.vars
*.prl
tags
.DS_Store
*.debug
Makefile*
*.Debug
*.Release
*.prl
*.pro.user
*.pro.user.*
*.qmlproject.user*
moc_*.cpp
ui_*.h
qrc_*.cpp
callgrind.out.*
pcviewer.cfg
*.flc
.*.swp
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
.pch
.rcc
.project
.cproject
.make.cache
android-build
app_process
qtc-debugging-helper
android-*.so-deployment-settings.json
*.directory
*_plugin_import.cpp
*_wrapper.sh
*_wrapper.bat
*.mak
*.xib
*.plist
*.pbxproj
*_plugin_import.cpp
*.xcsettings
*.xcscheme
*.xcodeproj
qt.conf
*.version
*.version.in
*.qmlc
.qmlcache
codeattributions.qdoc
*CMakeLists.txt.user
