# This file is used to ignore files which are generated in the Qt build system
# ----------------------------------------------------------------------------

/include
/lib
/mkspecs

/examples/quick/calendar/calendar
/examples/quick/controls/mirroring/mirroring
/examples/quick/controls/theme/theme
/examples/quick/controls/tabs/tabs
/examples/quick/extras/drawer/drawer

/tests/auto/accessibility/tst_accessibility
/tests/auto/applicationwindow/tst_applicationwindow
/tests/auto/controls/tst_controls
/tests/auto/extras/tst_extras
/tests/auto/sanity/tst_sanity
/tests/auto/snippets/tst_snippets
/tests/benchmarks/creationtime/tst_creationtime
/tests/benchmarks/objectcount/tst_objectcount

/tests/auto/snippets/screenshots/*.png
/src/controls/doc/qtquickcontrols2.tags

*.so
*.so.*
*.app
*.exe
*.dll
*.dylib
*.lib
*.exp
*.a
*.la
*.core
*.moc
*.o
*.obj
*.orig
*.swp
*.rej
*.so
*.pbxuser
*.mode1
*.mode1v3
*_pch.h.cpp
*_resource.rc
*~
.#*
*.*#
.qmake.stash
.qmake.cache
.qmake.vars
*.prl
tags
.DS_Store
*.debug
Makefile*
*.Debug
*.Release
*.prl
*.pro.user
*.qmlproject.user*
moc_*.cpp
ui_*.h
qrc_*.cpp
callgrind.out.*
pcviewer.cfg
*.flc
.*.swp
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
.pch
.rcc
.project
.cproject
.make.cache
android-build
app_process
qtc-debugging-helper
android-*.so-deployment-settings.json
