# This file is used to ignore files which are generated in the Qt build system
# ----------------------------------------------------------------------------

/include
/lib
/mkspecs

/examples/controls/gallery/gallery

/tests/auto/accessibility/tst_accessibility
/tests/auto/activeFocusOnTab/tst_activeFocusOnTab
/tests/auto/applicationwindow/tst_applicationwindow
/tests/auto/calendar/tst_calendar
/tests/auto/controls/tst_controls
/tests/auto/material/tst_material
/tests/auto/menu/tst_menu
/tests/auto/pressandhold/tst_pressandhold
/tests/auto/sanity/tst_sanity
/tests/auto/snippets/tst_snippets
/tests/auto/styles/tst_styles
/tests/auto/universal/tst_universal
/tests/benchmarks/creationtime/tst_creationtime
/tests/benchmarks/objectcount/tst_objectcount
/tests/manual/fonts/fonts
/tests/manual/gifs/tst_gifs
/tests/manual/testbench/testbench

/tests/auto/snippets/screenshots/*.png
/tests/manual/gifs/gifs/*.gif
/src/templates/QtLabsTemplates.version

*.so
*.so.*
*.app
*.exe
*.dll
*.dylib
*.lib
*.exp
*.a
*.la
*.core
*.moc
*.o
*.obj
*.orig
*.swp
*.rej
*.so
*.pbxuser
*.mode1
*.mode1v3
*_pch.h.cpp
*_resource.rc
*~
.#*
*.*#
.qmake.stash
.qmake.cache
.qmake.vars
*.prl
tags
.DS_Store
*.debug
Makefile*
*.Debug
*.Release
*.prl
*.pro.user
*.qmlproject.user*
moc_*.cpp
ui_*.h
qrc_*.cpp
callgrind.out.*
pcviewer.cfg
*.flc
.*.swp
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
.pch
.rcc
.project
.cproject
.make.cache
android-build
app_process
qtc-debugging-helper
android-*.so-deployment-settings.json
*.directory
*_plugin_import.cpp
*_wrapper.sh
